@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.search_container{
    /* margin: auto; */
    width: 100%;
    min-height: 100vh;
    /* border: 3px solid green; */
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)),url(background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-bar{
    width: 80%;
    max-width: 800px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    /* padding: 10px 20px; */
  }
  .search-bar input{

    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 15px 20px;
    font-size: 20px;
    color: #cac7ff;
  }
  .filter-bar{
    width: 80%;
    max-width: 800px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    /* padding: 10px 20px; */

  }
  .filter-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 15px 20px;
    font-size: 20px;
    color: #cac7ff;
  }
  ::placeholder{
    color: #cac7ff;
  }
  .button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
      transition-duration: 0.4s;
    }
    
    .button:hover {
      background-color: #4CAF50; /* Green */
      color: white;
    }

  